<div class="container">
   <h2>MEAN stack basic CRUD Application</h2>
   <div class="row-fluid">
      <p>This is a basic CRUD operation application. It is really helpfull who is in the initial stage of MEAN stack development. 
         After running the application and looking into the code, developer will have the basic idea of Node.js, Express.js, MongoDb and Angular 4.
      </p>
   </div>
   <h3>Prerequisites :</h3>
   <div class="media-body">
      <p>1) MongoDB : Install it from <a href="https://www.mongodb.org/" target="_blank">https://www.mongodb.org/</a> </p>
      <p>2) NodeJS : Install it from <a href="https://nodejs.org/" target="_blank">https:/nodejs.org/</a> </p>
      <p>3) AngularCLI : Install it from <a href="https://cli.angular.io/" target="_blank">https://cli.angular.io/</a></p>
   </div>
   <h3>Installation :</h3>
   <div class="media-body">
      <p>1) Clone this repository using git clone </p>
      <p>2) Install NodeJs modules: Go in the root folder from terminal and run <code>sudo npm install</code> </p>
      <p>3) Install Angular modules: Go in the "/meandemo/public" folder from terminal and run <code>sudo npm install</code></p>
   </div>
   <h3>Running Application :</h3>
   <div class="media-body">
      <p>1) Go in the root folder from terminal and run "nodemon index.js OR node index.js" </p>
      <p>2) Open your browser and run <a href="javascript:void(0)">http://localhost:3001</a></p>
   </div>
</div>
